.App {
  text-align: center;
}
.MainContioner {
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
