html {
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}
body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
.MainContainer {
  width: 100%;
  height: 100%;
}
.MainContainer .ant-flex {
  width: 100%;
  height: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
